.title-header{
    width: 36vw;
}

.other-header{
    width: 16vw;
}

tr {
    border-color: rgb(141, 29, 29);
    color: aliceblue;
}

.table>:not(:first-child) {
    border-top: 2px solid rgb(182, 79, 79);
}

.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #185adb;
    transition: all 0.25s ease;
  }
    
  .primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
  }

  .button {
    color: #fff;
    text-shadow:
      0 0 5px rgb(179, 39, 19),
      0 0 10px rgb(179, 39, 17),
      0 0 20px rgb(179, 39, 21),
      0 0 40px rgb(179, 39, 29),
      0 0 80px rgb(179, 39, 29),
      0 0 90px rgb(179, 39, 29),
      0 0 100px rgb(179, 39, 29),
      0 0 150px rgb(179, 39, 29);
      background-color: #4d1313;
      border-radius: 12px;
}

.title-header {
  color: rgb(0, 0, 0);
    text-shadow:
      0 0 5px rgb(179, 39, 19),
      0 0 10px rgb(179, 39, 17),
      0 0 20px rgb(179, 39, 21),
      0 0 40px rgb(179, 39, 29),
      0 0 80px rgb(179, 39, 29),
      0 0 90px rgb(179, 39, 29),
      0 0 100px rgb(179, 39, 29),
      0 0 150px rgb(179, 39, 29);
      background-color: #4d1313;
      border-radius: 12px;
}

.other-header {
  color: rgb(0, 0, 0);
    text-shadow:
      0 0 5px rgb(179, 39, 19),
      0 0 10px rgb(179, 39, 17),
      0 0 20px rgb(179, 39, 21),
      0 0 40px rgb(179, 39, 29),
      0 0 80px rgb(179, 39, 29),
      0 0 90px rgb(179, 39, 29),
      0 0 100px rgb(179, 39, 29),
      0 0 150px rgb(179, 39, 29);
      background-color: #4d1313;
      border-radius: 12px;
}